CompileFlags: 
  Remove: [-fmodules-ts, -fmodule-mapper=*, -fdeps-format=*]
  Add: [-target, x86_64-pc-windows-msvc, -fms-extensions, -fms-compatibility]

Diagnostics:
    Suppress: [
      "constexpr_var_requires_init",
      "constant_property_never_constant"
    ]